*
*/
!.gitignore
!README.md
!LICENSE
!video/
!deskshare/
!slides/
!presentation/
!frames/
!deskshare/
!render_slides.rb
!render_whiteboard.rb
!download_client.rb
!render_video.rb
!export_annotated_slides.rb
!.rubocop.yml